*~

# You have to ignore this genrated file or git will complain that it is an
# unknown file!
/make.inc

# If the instructions are telling people to create this build dir under the
# source tree, you had better put in an ignore for this.
/build/

.dropbox.attr

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
